
<Table>
<tr>
<h1>{{ lobby }}</h1>
<ul>
{% for gamer in lobby.Gamers.all %}
    <li>{{ gamer }}</li>
{% endfor %}
</ul>
</tr>
<tr>

<form method="post">                              
    {% csrf_token %}
{% if not currentUserIn %}
    <input type="submit" name="Join" value="Join" class="btn" />
{% endif %}

{% if currentUserIn %}
    <input type="submit" name="Leave" value="Leave" class="btn" />
{% endif %}

{% if canStart %}
    <input type="submit" name="Start" value="Start" class="btn" />
{% endif %}
</form>


</tr>
