<table>
<tr>
<label>Current games:</label>
</tr>
<tr>
{% if lobbyList %}
    <ul>
    {% for lobby in lobbyList %}
        <li><a href="{% url 'detail' lobby.id %}">{{ lobby }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lobbies have been created yet.</p>
{% endif %}

</tr>
<tr>

<form action="#" method="post">                              
    {% csrf_token %}
    <input type="submit" class="btn" value="Start game" name="startButton">
</form>

</tr>
</table>