<!DOCTYPE html>
<html>
    <head>
        <title>The Game</title>
    </head>

    <body>
        <h1>Registration</h1>

        {% if registered %}
        Thank you for registering!
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        Register here!<br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>